@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F0E8;
}

* { box-sizing: border-box; }

input[type="date"]::-webkit-calendar-picker-indicator { opacity: 0.5; cursor: pointer; }
